## Gérer les valeurs manquantes

In [1]:
import pandas as pd
url = "automobile.csv"
df=pd.read_csv(url)

### Supprimer les lignes comportant des Nan

In [2]:
df.dropna(subset=["price"],axis=0,inplace=True)

### Remplacer les valeur manquantes (ici '?') par la valeur moyenne de la série

In [6]:
df.head(5)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Calcul de la valeur moyenne

In [4]:
mean=df["normalized-losses"][df["normalized-losses"]!='?'].astype(int).mean()

Remplacement de la valeur inconnue par la valeur moyenne

In [5]:
df["normalized-losses"].replace('?',mean,inplace=True)
df.head(5)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Data Binning - Séparer les données en plusieurs classes

Création de 3 classes de prix

In [32]:
import numpy as np
df_price=df["price"][df["price"]!='?'].astype(int)
bins=np.linspace(min(df_price),max(df_price),4)
print(bins)

[ 5118.         18545.33333333 31972.66666667 45400.        ]

45400.0

In [33]:
group_names=["Low","Medium","High"]
df["price-binned"]=pd.cut(df_price,bins,labels=group_names,include_lowest=True)

In [34]:
df["price-binned"]

0         Low
1         Low
2         Low
3         Low
4         Low
        ...
200       Low
201    Medium
202    Medium
203    Medium
204    Medium
Name: price-binned, Length: 205, dtype: category
Categories (3, object): [Low < Medium < High]

## Conversion en variables quantitatives

In [40]:
pd.get_dummies(df['fuel-type'])

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
..      ...  ...
200       0    1
201       0    1
202       0    1
203       1    0
204       0    1

[205 rows x 2 columns]